[Unit]
Description=Simple server that scrapes HAProxy stats and exports them via HTTP for Prometheus consumption
StartLimitIntervalSec=10,StartLimitBurst=2

[Service]
ExecStart={{ haproxy__haproxy_exporter_path }} {{ haproxy__haproxy_exporter_options | trim }}
User=nobody
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
